.header {
    display: flex;
    max-width: 1202px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 58px;
    position: absolute;
    right: 0;
    left: 0;
    flex-direction: column;
    gap: 20px 0;
}
.search__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
    gap: 1px 0;
    z-index: 100;
}
.header__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .header__top_left {
        display: flex;
        align-items: center;
        gap: 0 20px;
        .theme {
            display: flex;
            align-items: center;
        }
        .addPost {
            position: relative;
            top: 4px;
        }
    }
}
.header__bottom {
    display: flex;
    justify-content: center;
    input {
        border-radius: 20px;
        border: 3px solid #6d5cc5;
        padding: 0px 50px 0 50px;
        color: #000000;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px; /* 362.5% */
        letter-spacing: -0.1px;
        width: 500px;
        @media (max-width: 540px) {
            width: 400px;
        }
        @media (max-width: 430px) {
            width: 280px;
        }
    }
    .search__container {
        position: relative;
        .search__icon {
            position: absolute;
            top: 11px;
            left: 10px;
            cursor: pointer;
            user-select: none;
        }
        .close__icon {
            user-select: none;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    }
}
.logo__wrapper {
    cursor: pointer;
    user-select: none;
    justify-self: center;
    padding: 0 15px;
}
.search__wrapper {
    display: flex;
    gap: 0 20px;
    align-items: center;
    justify-content: end;
    .addPlus {
        position: relative;
        top: 2px;
    }
    .search {
        cursor: pointer;
    }
    .user {
        cursor: pointer;
        position: relative;
        top: 4px;
    }
}
