.root {
    display: flex;
    gap: 0 30px;
    .right {
        .title {
            color: #111210;
            font-family: Open Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 58px; 
            letter-spacing: -0.15px;
        }
        .description {
            color: #000;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; 
            letter-spacing: -0.1px;
            max-width: 211px;
        }
    }
}