.root {
    display: flex;
    gap: 0 25px;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 77px 0;
    max-width: 779px;
    .avatar {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit:cover;
    }
    .top {
        width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .username {
            color: #111210;
            font-family: Open Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 46px; /* 255.556% */
            letter-spacing: -0.112px;
        }
        .date {
            color: #9B9B9B;
            font-family: Open Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 46px; /* 255.556% */
            letter-spacing: -0.112px;
        }
        .deletePost {
            cursor: pointer;
        }
    }
    .text {
        color: #4A4A4A;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        max-width: 600px;
        word-wrap: break-word;
    }
    
}