.background {
    background-image: url("../../assets/images/intro/intro-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 101vh;
}
.content {
    max-width: 1202px;
    margin: 0 auto;
    padding: 392px 15px 0 15px;
    user-select: none;
    @media (max-width: 600px) {
        padding: 250px 15px 0 15px;
        text-align: center;
    }

    .author {
        color: #fff;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 58px; /* 362.5% */
        letter-spacing: -0.1px;
        margin-bottom: 10px;
        max-width: 776px;
        @media (max-width: 400px) {
            font-size: 14px;
        }
        @media (max-width: 340px) {
            font-size: 12px;
        }
    }
    .title {
        color: #fff;
        font-family: Open Sans;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 46px; /* 127.778% */
        letter-spacing: -0.225px;
        margin-bottom: 23px;
        max-width: 766px;
        @media (max-width: 700px) {
            font-size: 27px;
        }
        @media (max-width: 340px) {
            font-size: 25px;
        }
    }
    .text {
        color: #fff;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 177.778% */
        letter-spacing: -0.112px;
        max-width: 776px;
    }
}
