.root {
    max-width: 1202px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 180px;
        .title {
            color: #4A4A4A;
            font-family: Open Sans;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -0.225px;
            line-height: 50px;
            @media (max-width:900px) {
                text-align: center;
                font-size: 30px;
            }
            @media (max-width:640px) {
                font-size: 26px;
            }
            @media (max-width:460px) {
                font-size: 20px;
                line-height: 40px;
            }
            @media (max-width:400px) {
                font-size: 17px;
            }
        }
        .author {
            color: #000;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 58px;
            letter-spacing: -0.1px;
            text-transform: uppercase;
            margin-bottom: 100px;
            @media (max-width:900px) {
                text-align: center;
                margin-bottom: 50px;
            }
            @media (max-width:440px) {
                margin-bottom: 20px;
            }
            span {
                color: #9B9B9B;
                font-family: Open Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 58px; /* 362.5% */
                letter-spacing: -0.1px;
                margin-right: 10px;
            }
        }
        .content {
            text-align: center;
            display: flex;
            justify-content: center;
            .image__wrapper {
                display: flex;
                gap: 0 44px;
                margin-bottom: 44px;
                @media (max-width:1180px) {
                    flex-direction: column;
                }
                img {
                    border-radius: 5px;
                    max-width: 100%;
                }
                .social {
                    display: flex;
                    flex-direction: column;
                    gap: 20px 0;
                    @media (max-width:1180px) {
                        flex-direction: row;
                        gap: 0 20px;
                        margin-bottom: 20px;
                    }
                    * {
                        cursor: pointer;
                    }
                }
                .statistic {
                    display: flex;
                    flex-direction: column;
                    gap: 40px 0;
                    user-select: none;
                    @media (max-width:1180px) {
                        flex-direction: row;
                        gap: 0 20px;
                        margin-top: 20px;
                    }
                    .likes {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        cursor: pointer;
                    }
                    .views {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
        .text {
            text-align: start;
            color: #4A4A4A;
            font-family: Open Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; 
            @media (max-width:700px) {
                font-size: 20px;
            }
            @media (max-width:460px) {
                font-size: 16px;
            }
            @media (max-width:360px) {
                font-size: 14px;
            }
        }
        .comments {
            max-width: 779px;
            margin: 0 auto;
            padding-top: 100px;
            .comments__top {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;
                .comment__title {
                    color: #111210;
                    font-family: Open Sans;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 46px; /* 164.286% */
                    letter-spacing: -0.175px;
                }
                .addComment {
                    color: #FF5480;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.375px;
                    background-color: transparent;
                    border: 2px solid #FF5480;
                    padding: 11px;
                    transition: 0.3s ease all;
                    &:hover {
                        background-color: #FF5480;
                        color: #ffffff;
                    }
                }
            }
            .comments__policy {
                color: #4A4A4A;
                font-family: Open Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
                margin-bottom: 100px;
                span {
                    font-weight: 700;
                }
            }
            .comments__create {
                margin-top: 70px;
                padding: 70px 124px;
                border-radius: 8px;
                background: #FFF;
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
                .leave__reply{
                    color: #000;
                    font-family: Open Sans;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.1px;
                    margin-bottom: 30px;
                }
                textarea {
                    border-radius: 10px;
                    border: 2px solid #E6E6E6;
                    background: #FFF;
                    width: 523px;
                    height: 196px;
                    resize: none;
                    padding: 20px 29px;
                    margin-bottom: 15px;
                }
                input {
                    border-radius: 10px;
                    border: 2px solid #E6E6E6;
                    background: #FFF;
                    width: 523px;
                    height: 70px;
                    padding: 20px 29px;
                    margin-bottom: 30px;
                }
                .policy {
                    display: flex;
                    gap: 0 10px;
                    input[type="checkbox"] {
                        width: 20px;
                        height: 20px;
                      }
                    .copyright{
                    color: #9B9B9B;
                    text-align: center;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    }
                }
                button {
                    color: #FFF;
                    font-family: Open Sans;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.5px;
                    border-radius: 40px;
                    background: #FF5480;
                    padding: 17px 31px;
                }
            }
        }
}