.root {
    max-width: 1202px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 180px;
    .title {
        color: #000;
        font-family: "Open Sans";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: -0.225px;
        margin-bottom: 20px;
    }
    .content {
        display: grid;
        grid-template-columns: 250px 1fr 130px;
        gap: 0 50px;
        @media (max-width: 1200px) {
            grid-template-columns: 250px 1fr;
        }
        @media (max-width: 1000px) {
            grid-template-columns: 400px;
            justify-content: center;
        }
        @media (max-width: 800px) {
            grid-template-columns: 300px;
        }
        .posts__list {
            display: flex;
            flex-direction: column;
            gap: 20px 0;
            .noPosts {
                display: flex;
                flex-direction: column;
                gap: 20px 0;
                .addPost {
                    color: #fff;
                    font-family: "Open Sans";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.375px;
                    border-radius: 10px;
                    background: #2aa52a;
                    padding: 12px 19px;
                    transition: 0.3s ease all;
                    width: 155px;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
        .left {
            .left__list {
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 15px 0;
                border: 3px solid #3e3180;
                min-height: 500px;
                border-radius: 10px;
                @media (max-width: 1000px) {
                    min-height: auto;
                    align-items: center;
                    border: none;
                }

                li {
                    color: var(--3, #212121);
                    font-family: "Open Sans";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    cursor: pointer;
                    user-select: none;
                    border-left: 3px solid transparent;
                    padding-left: 10px;
                    width: 130px;
                    text-align: center;
                    @media (max-width: 1000px) {
                        margin-bottom: 10px;
                    }
                }
                .active {
                    border-left: 3px solid #3e3180;
                }
                .btn__wrapper__phone {
                    display: none;
                    @media (max-width: 1200px) {
                        display: flex;
                    }
                    .logOut {
                        color: #fff;
                        font-family: "Open Sans";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.375px;
                        border-radius: 10px;
                        background: #9283e0;
                        padding: 12px 19px;
                        transition: 0.3s ease all;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }

    .right {
        border-radius: 15px;
        padding: 15px;

        .content__user {
            .userInfo {
                display: flex;
                flex-direction: column;
                gap: 15px 0;
                @media (max-width: 1000px) {
                    align-items: center;
                }
                @media (max-width: 500px) {
                    font-size: 18px;
                }

                .username {
                    display: flex;
                    gap: 0 10px;
                    .text {
                        color: #3e3180;
                    }
                }
                .email {
                    display: flex;
                    gap: 0 10px;
                    .text {
                        color: #3e3180;
                    }
                }
                .createdAt {
                    display: flex;
                    gap: 0 10px;
                    margin-bottom: 20px;
                    .text {
                        color: #3e3180;
                    }
                }
                .avatar {
                    display: flex;
                    gap: 0px 30px;
                    align-items: center;
                    @media (max-width: 800px) {
                        flex-direction: column;
                        gap: 20px 0;
                    }
                    .avatar__content {
                        position: relative;

                        img {
                            width: 150px;
                            height: 150px;
                            border: transparent 3px solid;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                        input {
                            display: none;
                            border-radius: 100%;
                        }
                        label {
                            position: absolute;
                            cursor: pointer;
                            width: 150px;
                            height: 150px;
                            border-radius: 100%;
                            overflow: hidden;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    .buttons {
                        display: flex;
                        flex-direction: column;
                        gap: 20px 0;
                        .upload {
                            color: #fff;
                            font-family: "Open Sans";
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            letter-spacing: -0.375px;
                            border-radius: 10px;
                            background: #9283e0;
                            padding: 12px 19px;
                            transition: 0.3s ease all;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                        button {
                            color: #fff;
                            font-family: "Open Sans";
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            letter-spacing: -0.375px;
                            border-radius: 10px;
                            background: #ff5480;
                            padding: 12px 19px;
                            transition: 0.3s ease all;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn__wrapper {
        @media (max-width: 1200px) {
            display: none;
        }
        .logOut {
            color: #fff;
            font-family: "Open Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.375px;
            border-radius: 10px;
            background: #9283e0;
            padding: 12px 19px;
            transition: 0.3s ease all;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
